/* @import url(../reindeer/styles.css); */

@IMPORT url("shoutbox.css");
@IMPORT url("eic.css");
@IMPORT url("sms.css");
.cssContent{
	float:left;
}
.scrumtable{
	float:left;
}
.cssAdd{
	float:left;
}