<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,maximum-scale=1">
    $theme.include($top_head_include)
    
    <script type="text/javascript" src="$javascript_folder/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="$css_class home">
$theme.include($body_top_include)
#if ($is_signed_in)
	#if ($permissionChecker.isOmniadmin())
		#dockbar()
	#end
#end
<div id="wrapper">
	<header>
		<div class="clearfix">
			  <a href="$layout.getGroup().getExpandoBridge().getAttribute('logo_link')" id="logo"><img src="$images_folder/logo.png" /></a>
			  <div class="functionbar_head">
				  <nav class="short-navigation">
				    <ul>
				      <li>
				      	<a href="$layout.getGroup().getExpandoBridge().getAttribute('link_help_page')">
				      		$layout.getGroup().getExpandoBridge().getAttribute("help_page")
				      	</a>
				      </li>
				     
				      #if ($is_signed_in)
				      	  <li>
				      	 	  <a href="$layout.getGroup().getExpandoBridge().getAttribute('link_feedback_page')">
				      		     $layout.getGroup().getExpandoBridge().getAttribute("feedback_page")
				       	      </a>
				      	  </li> 
					      <li class="name">
								Hallo <strong>$user_name</strong>	
					      </li>
				      	  <li><a href="$sign_out_url">Abmelden</a></li>
				      #else 
				      	<li><a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a></li>
				      #end
				    </ul>
				  </nav>
				  <div class="search">
						<form action="$theme_display.getURLCurrent()?p_p_id=3&amp;p_p_lifecycle=0&amp;p_p_state=maximized&amp;p_p_mode=view&amp;_3_struts_action=%2Fsearch%2Fsearch&amp;_3_redirect=$theme_display.getURLCurrent()" method="get" name="ctem_3_fm" onsubmit="ctem_3_search(); return false;"> 
							<input name="p_p_id" type="hidden" value="3">
							<input name="p_p_lifecycle" type="hidden" value="0">
							<input name="p_p_state" type="hidden" value="maximized">
							<input name="p_p_mode" type="hidden" value="view">
							<input name="_3_struts_action" type="hidden" value="/search/search"><input name="_3_redirect" type="hidden" value="$theme_display.getURLCurrent()"> 
							<input name="_3_keywords" size="30" type="text" value=""> 
							<input name="_3_groupId" type="hidden" value="0"/>  
							<input align="absmiddle" border="0" src="$images_folder/common/search.png" title="Search" type="image"> 
						</form>
					</div>
				</div>
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
	</header>
	
	
	<div class="container">
		#if (!$layout.getName($themeDisplay.getLocale()).toLowerCase().equals("home"))
			#parse("$full_templates_path/breadcrumbs.vm")
		#end
	</div>
	
	<div class="main-section">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer">
		#parse ("$full_templates_path/footer.vm")
	</footer>
</div>
$theme.include($body_bottom_include)

<script type="text/javascript" src="$javascript_folder/vendor/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="$javascript_folder/plugins.js"></script>
<script type="text/javascript" src="$javascript_folder/select2.min.js"></script>
<script type="text/javascript" src="$javascript_folder/main.js"></script>

	
</body>

$theme.include($bottom_include)

</html>